extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug
block main
    h1(class="mb-4") New album

    form(
        id = "myForm"
        action= `${prefixAdmin}/album/create`
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group mb-3")
            label(for="title") Title
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                required
            )   
        
        div(class="form-group mb-3", id = "ThanhToi")
            lable(for="desc") Music List (24 chars)
            br
            input(type="text", name="commonName", placeholder="Enter music ObjectID")
            br
            input(type="text", name="commonName", placeholder="Enter music ObjectID")
            br
        div(class = "form-group mb-3")
            button(type="button", id="addNewButton") Add New
        div(class="form-group mb-3" upload-image)
            label(for="thumbnail" style = "display: block;") Cover
            input(
                type="file"
                class="form-control-file"
                id="thumbnail"
                name="thumbnail"
                accept="image/*"
                upload-image-input
                required
                )
            img(src="", upload-image-preview class= "image-preview")
            
        
        div(class="form-group mb-3")
            button(
                type="submit"
                class="btn btn-primary"
            ) Submit 
    script.
        document.addEventListener('DOMContentLoaded', () => {
            const divtag = document.getElementById('ThanhToi');
            const addNewButton = document.getElementById('addNewButton');

            addNewButton.addEventListener('click', () => {
                const input = document.createElement('input');
                input.type = 'text';
                input.name = 'commonName';
                input.placeholder = 'Enter music ObjectID';
                divtag.appendChild(input);
                divtag.appendChild(document.createElement('br'));
            });
        });